@model WebApp.Models.ProductsViewModel

@{
    ViewData["Title"] = "Index";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.min.css" />
}

<h2>Lista de Produtos</h2>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table" id="productTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Tipo do Produto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Report)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {    
    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>


    <script>
        var tabela = null;
        $(document).ready(function () {
            tabela = $('#productTable').DataTable({     
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nenhum Resultado",
                    "info": "Exibindo _PAGE_ de _PAGES_",
                    "infoEmpty": "Vazio",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)",
                    "search": "Pesquisar",
                    "paginate": {
                        "previous": "Anterior",
                        "next" : "Proxima"
                    }
                }
            });
        });
    </script>
}